.btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0px !important;
  font-family: Segoe UI !important;
  color: #ffffff !important;
  font-size: 1.2em !important;
  background: #00A00F !important; /*00A00F*/
  padding: 5px 10px 5px 10px !important;
  text-decoration: none !important;
  font-weight: normal !important;
}

.btn:hover {
  background: #007A0B !important;
  background-image: -webkit-linear-gradient(top, #007A0B, #007A0B) !important;
  background-image: -moz-linear-gradient(top, #007A0B, #007A0B) !important;
  background-image: -ms-linear-gradient(top, #007A0B, #007A0B) !important;
  background-image: -o-linear-gradient(top, #007A0B, #007A0B) !important;
  background-image: linear-gradient(to bottom, #007A0B, #007A0B) !important;
  text-decoration: none !important;
}

.btn-sm{
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}