@model IEnumerable<OPDB.Models.User>

@{
    ViewBag.Title = "Lista";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    label {
        width: 100%;
    }

    tr{
        background-color: #e2e2e2 !important;
    }

    table {
        border: none !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }

    span {
        font-size: 0.875rem;
        color: #4d4d4d;
    }

    r {
        font-size: 0.875rem;
    }
</style>

<h2>Usuarios</h2><br />

<div>
    <table id="userList">
        <thead hidden>
            <tr><th></th></tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="panel callout large-12 columns">
                        @Html.ActionLink(user.UserDetails.FirstOrDefault(i => i.UserID == user.UserID).FirstName + " " + user.UserDetails.FirstOrDefault(i => i.UserID == user.UserID).MiddleInitial + " " + user.UserDetails.FirstOrDefault(i => i.UserID == user.UserID).LastName, "Detalles", "Usuarios", new { id = user.UserID }, null)<br />
                        <span>Tipo de Usuario: </span><r>@user.UserType.UserType1</r><br />
                        <span>Correo Electrónico: </span><r>@user.Email</r><br />
                    </td>
                </tr>
            }
        </tbody>
    </table><br />
</div>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#userList').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "oLanguage": { "sSearch": "Filter:" },
            "oLanguage": {
                "sEmptyTable": "No existe ningún usuario",
                "sZeroRecords": "No se ha encontrado ningún registro"
            }
        });
    });


</script>