@model OPDB.Models.UserViewModel

@{
    ViewBag.Title = "Lista";
}

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    label {
        width: 100%;
    }

    tr{
        background-color: #EFEEEF !important;
    }

    table {
        border: none !important;
    }

    .last, .first, .previous, .next {
        display: none !important;
    }

    span {
        font-size: 0.875rem;
        color: #4d4d4d;
    }

    r {
        font-size: 0.875rem;
    }
    .link:hover {
        color: #007A0B !important;
    }
</style>

<h2>Usuarios</h2><br />

<div>
    <table id="userList">
        <thead hidden>
            <tr><th></th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Information)
            {
                <tr>
                    <td class="panel callout large-12 columns">
                        <h5>@Html.ActionLink(item.UserDetail.FirstName + " " + item.UserDetail.MiddleInitial + " " + item.UserDetail.LastName, "Detalles", "Usuarios", new { id = item.UserDetail.UserID }, new { @class="link", @style = "color:black;" })</h5>
                        <span>Tipo de Usuario: </span><r>@item.User.UserType.UserType1</r><br />
                        <span>Correo Electrónico: </span><r>@item.User.Email</r><br />
                    </td>
                </tr>
            }
        </tbody>
    </table><br />
</div>

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#userList').DataTable({
            "sDom": '<"top">t<"bottom"pr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "oLanguage": { "sSearch": "Filter:" },
            "oLanguage": {
                "sEmptyTable": "No existe ningún usuario",
                "sZeroRecords": "No se ha encontrado ningún registro"
            }        
        });
        
    });


</script>