<dl class="sub-nav">
    <dt></dt>
    <dd id="activeUsers"><a id="activeUsersURL" onclick="loadAdminView(this)" data-url="@Url.Action("Index", "Usuarios", new { requested = true })">Activos</a></dd>
    <dd id="removedUsers"><a id="removedUsersURL" onclick="loadAdminView(this)" data-url="@Url.Action("Removidos", "Usuarios", new { requested = true })">Removidos</a></dd>
</dl>

<div>
    <loadinginner></loadinginner>
        <div id="managementTableInner">
        </div>
</div>

<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementsByTagName("loading")[0].innerHTML = "";
        loadAdminView("<a id='activeUsersURL' data-url='@Url.Action("Index", "Usuarios", new { requested = true })'></a>");
    });


</script>