@{
    ViewBag.Title = "Acceso Denegado";
}

<center>
    <div class="large-12 columns panel">
        <img src="@Url.Content("~/Images/warning.ico")" /><br />
        <h1><b>Acceso Inválido</b></h1><br />
        <h3>Ha intentado accesar una acción del sistema para la cual no tiene permiso.</h3>
        <h3>Si necesita acceso, hable con algún administrador del sistema.</h3><br />
        <a href="@Url.Action("Index", "Home")" class="btn">Regresar</a>
    </div>
</center>