@model OPDB.Models.ActivityViewModel


@{
    ViewBag.Title = "Calendario";
    ViewBag.Nav = "Calendario";
}

<div style="">
    <div id="calendario"></div>
</div>

<script src="~/Scripts/moment/moment.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/fullcalendar/es.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        
        sessionStorage.setItem('Activity', 'calendar');

        $('#calendario').fullCalendar({
            theme: false,
            aspectRatio: 2,
            firstDay: 0,
            contentHeight: "auto",
            lang: "es",
            events: "@Url.Action("CalendarData", "Home")",
            timeFormat: 'h:mmT'
        });

    });

</script>