@{
    ViewBag.Title = "Inicio";
}

<h3>Actividades Nuevas</h3>
<ol class="round">
    <li class="one">
        <h5>Mark's Magic Gathering</h5>
        Because he's a jew...
        <a href="#">Learn more…</a>
    </li>

    <li class="two">
        <h5>Why is Mark a Jew?</h5>
        <a href="#">Learn more…</a>
    </li>

    <li class="three">
        <h5>The Holocaust</h5>
        <a href="#">Learn more…</a>
    </li>
</ol>
