@model IEnumerable<OPDB.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Unidades</h2>

<style>
    select {
        width: 50px !important;
        padding: 0.2rem !important;
        height: 1.5rem !important;
        margin: 0 !important;
    }

    label {
        width: 100% !important;
    }

    input[type="search"] {
        padding: 0.2rem;
    }

    th, td {
        text-align: center !important;
    }
</style>

<table id="units">
    <thead>
        <tr>
            <th style="width:60%;">Unidad</th>
            <th style="width:25%;">Teléfono</th>
            <th style="width:15%;">Extensión</th>
            @*<th style="width:8%;"></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extension)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

@*
    <p>
        @Html.ActionLink("Nuevo Usuario", "Crear")
    </p>
*@

<script src="~/Scripts/myScripts.js"></script>
<script>
    $(document).ready(function () {

        $('#units').DataTable({
            "sDom": '<"top"lf>t<"bottom"ipr><"clear">',
            "sPaginationType": "full_numbers",
            "bProcessing": false,
            "iDisplayLength": 12,
            "columnDefs": [
                {
                    "orderable": false,
                    "targets": [0, 1, 2]
                },
                 {
                     "searchable": false,
                     "targets": [1, 2]
                 }
            ]
        });
    });


</script>
