@model OPDB.Models.ResourceViewModel

@{
    ViewBag.Title = "Detalles";
}
<style>
    span {
        font-size: 0.875rem;
        color: #4d4d4d;
    }
</style>
    <div class="display-field">
        <span>Unidad: </span>@Html.DisplayFor(model => model.Unit.UnitName)
    </div>
    <div class="display-field">
        <span>Oficina: </span> @Html.DisplayFor(model => model.Unit.RoomNumber)
    </div>
    <div class="display-field">
        <span>Teléfono: </span> @Html.DisplayFor(model => model.Unit.PhoneNumber)
    </div><br />
    <a href="#" title="Editar" class="modal_ajax_btn" data-title="Editar Recurso" onclick="DisplayModal(this)" data-toggle="modal" data-url="@Url.Action("PopUpEditar", "Recursos", new { id = Model.Resource.ResourceID })"><input type="button" class="btn" style="float:left !important; width:40% !important; margin-left: 30px !important;" value="Editar" /></a>
    <input type="button" class="btn" style="float:right !important; width:40% !important; margin-bottom: 20px !important; margin-right: 30px !important;" value="Volver" onclick="modalClose()" />

